extends ../layout/common.pug

block content
    h1 Create user

    if Errors
        each err in Errors
            .alert.alert-danger= err            
    form(action="/user/create" method="post")
        label(for="") Name
        input(type="text" name="name",value=Values ? Values.name : "")
        br
        br
        label(for="") Phone
        input(type="text" name="phone",value=Values ? Values.phone : "")
        br
        br
        button Create