extends ../layout/common.pug

block content
    h1 Create user

    if Errors
        each err in Errors
            .alert.alert-danger= err            
    form(action="/user/create" method="post" enctype="multipart/form-data")
        .form-group
            label(for="") Name
            input.form-control(type="text" name="name",value=Values ? Values.name : "")
        .form-group
            label(for="") Phone
            input.form-control(type="text" name="phone",value=Values ? Values.phone : "")
        .form-group
            label(for="avt") Avatar
            input#avt.form-control-file(type="file" name="avt")
        button.btn-primary Create